<!DOCTYPE html>
<html>
  <head>
    <title>云量医学科技-产品介绍</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      html, body {
        width: 100%;
        padding: 0;
        text-align: center;
      }
      img {
        width: 100%;
        display: block;
      }
      table {
        font-size: 2.2vw;
        line-height: 3;
        width: 75%;
        margin: 2vw auto;
        background-color: #fff;
      }
      table tr:nth-child(2n) td{
        background-color: #fff;
      }
      td span {
        color: #d9d9d9;
      }
    </style>
  </head>
  <body>
    <img src="/images/a-1.png" />
    <img src="/images/a-2.png" />
    <table cellspacing=1 cellspacing=0 border=0>
      <tr>
        <td style="background-color: #cce5e2">儿童</td>
        <td style="background-color: #cce5e2">iMemory Gene记忆力评估基因检测</td>
        <td style="background-color: #cce5e2">￥499</td>
        <td style="background-color: #cce5e2"><span>暂无</span></td>
      </tr>
      <tr>
        <td>儿童</td>
        <td>iAttention Gene注意力评估基因检测</td>
        <td>￥499</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td style="background-color: #cce5e2">儿童</td>
        <td style="background-color: #cce5e2">MIT基因分析与潜能优势项目</td>
        <td style="background-color: #cce5e2">￥5999</td>
        <td style="background-color: #cce5e2"><span>暂无</span></td>
      </tr>
      <tr>
        <td>儿童</td>
        <td>儿童安全用药基因检测套餐</td>
        <td>￥1199</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td style="background-color: #cce5e2">儿童</td>
        <td style="background-color: #cce5e2">儿童营养吸收基因检测套餐</td>
        <td style="background-color: #cce5e2">￥2199</td>
        <td style="background-color: #cce5e2"><span>暂无</span></td>
      </tr>
      <tr>
        <td style="background-color: #e4f0d8">成人健康</td>
        <td style="background-color: #e4f0d8">iDrink Gene饮酒基因检测</td>
        <td style="background-color: #e4f0d8">￥399</td>
        <td style="background-color: #e4f0d8"><a href="https://api.verlantum.cn/good/page/YL-GOOD-20210807-4">详细信息</a></td>
      </tr>
      <tr>
        <td>成人健康</td>
        <td>Enjoy your sleep-睡眠管理基因检测</td>
        <td>￥499</td>
        <td><a href="https://api.verlantum.cn/good/page/YL-GOOD-20210807-1">详细信息</a></td>
      </tr>
      <tr>
        <td style="background-color: #e4f0d8">成人健康</td>
        <td style="background-color: #e4f0d8">iSlimming Gene减肥基因检测</td>
        <td style="background-color: #e4f0d8">￥599</td>
        <td style="background-color: #e4f0d8"><a href="https://api.verlantum.cn/good/page/YL-GOOD-20210820-7">详细信息</a></td>
      </tr>
      <tr>
        <td>成人健康</td>
        <td>女性关爱套餐</td>
        <td>￥999</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td style="background-color: #e4f0d8">成人健康</td>
        <td style="background-color: #e4f0d8">成人关爱套餐</td>
        <td style="background-color: #e4f0d8">￥1199</td>
        <td style="background-color: #e4f0d8"><span>暂无</span></td>
      </tr>
      <tr>
        <td>成人健康</td>
        <td>白领关爱基因检测套餐</td>
        <td>￥2399</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td style="background-color: #e4f0d8">成人健康</td>
        <td style="background-color: #e4f0d8">长寿基因套餐</td>
        <td style="background-color: #e4f0d8">￥2399</td>
        <td style="background-color: #e4f0d8"><span>暂无</span></td>
      </tr>
      <tr>
        <td>成人健康</td>
        <td>成人健康</td>
        <td>￥2399</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td style="background-color: #e4f0d8">成人健康</td>
        <td style="background-color: #e4f0d8">同型半胱氨酸代谢基因检测</td>
        <td style="background-color: #e4f0d8">￥680</td>
        <td style="background-color: #e4f0d8"><span>暂无</span></td>
      </tr>
      <tr>
        <td>成人健康</td>
        <td>维生素D及钙吸收能力基因检测</td>
        <td>￥900</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td style="background-color: #e4f0d8">成人健康</td>
        <td style="background-color: #e4f0d8">先天性乳糖耐受能力评估</td>
        <td style="background-color: #e4f0d8">￥900</td>
        <td style="background-color: #e4f0d8"><span>暂无</span></td>
      </tr>
      <tr>
        <td  style="background-color: #cce5e2">基础疾病</td>
        <td  style="background-color: #cce5e2">Ⅰ型糖尿病风险评估基因检测(精英版)</td>
        <td  style="background-color: #cce5e2">￥499</td>
        <td  style="background-color: #cce5e2"><span>暂无</span></td>
      </tr>
      <tr>
        <td>基础疾病</td>
        <td>Ⅱ型糖尿病风险评估基因检测(精英版)</td>
        <td>￥499</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td  style="background-color: #cce5e2">基础疾病</td>
        <td  style="background-color: #cce5e2">糖尿病精准用药基因检测</td>
        <td  style="background-color: #cce5e2">￥499</td>
        <td  style="background-color: #cce5e2"><span>暂无</span></td>
      </tr>
      <tr>
        <td>基础疾病</td>
        <td>心血管精准用药基因检测</td>
        <td>￥2400</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td  style="background-color: #cce5e2">基础疾病</td>
        <td  style="background-color: #cce5e2">心血脑呵护1套餐</td>
        <td  style="background-color: #cce5e2">￥1199</td>
        <td  style="background-color: #cce5e2"><span>暂无</span></td>
      </tr>
      <tr>
        <td>基础疾病</td>
        <td>心血脑呵护2套餐</td>
        <td>￥2399</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td  style="background-color: #cce5e2">基础疾病</td>
        <td  style="background-color: #cce5e2">心血脑呵护3套餐</td>
        <td  style="background-color: #cce5e2">￥1399</td>
        <td  style="background-color: #cce5e2"><span>暂无</span></td>
      </tr>
      <tr>
        <td>基础疾病</td>
        <td>心脑呵护专项基因检测套餐</td>
        <td>￥1399</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td style="background-color: #e4f0d8">肿瘤</td>
        <td style="background-color: #e4f0d8">iMT Gene肿瘤10项风险评估基因检测</td>
        <td style="background-color: #e4f0d8">￥2400</td>
        <td style="background-color: #e4f0d8"><a href="https://api.verlantum.cn/good/page/YL-GOOD-20210807-5">详细信息</a></td>
      </tr>
      <tr>
        <td>肿瘤</td>
        <td>男性/女性肿瘤套餐(肿瘤7项)</td>
        <td>￥1599</td>
        <td><span>暂无</span></td>
      </tr>
      <tr>
        <td style="background-color: #e4f0d8">肿瘤</td>
        <td style="background-color: #e4f0d8">肿瘤18项基因检测套餐</td>
        <td style="background-color: #e4f0d8">￥2399</td>
        <td style="background-color: #e4f0d8"><span>暂无</span></td>
      </tr>
      <tr>
        <td  style="background-color: #cce5e2">女性</td>
        <td  style="background-color: #cce5e2">叶酸三项基因检测</td>
        <td  style="background-color: #cce5e2">￥680</td>
        <td  style="background-color: #cce5e2"><span>暂无</span></td>
      </tr>
    </table>
    <img src="/images/a-3.png" />
    <img src="/images/a-4.png" />
  </body>
</html>
