<!DOCTYPE html>
<html>
  <head>
    <title>云量科技</title>
    <script src="https://cdn.bootcss.com/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  </head>
  <script type="text/javascript">
  </script>
  <body>
    <div>
      <button onclick="getWxCode()">获取微信code</button>
      <button onclick="getWxInfo()">获取微信支付信息</button>
      <button onclick="pay()">支付￥0.01</button>
    </div>
    <script>
      let prepay_id;
      function getWxCode() {
        window.location.href=`/wxcode/get?uri=${location.href}`
      }
      // 把url的search转换为object
      function deSearch () {
        const search = window.location.search.replace('?', '');
        return search.split('&').map(v => v.split('=')).reduce((a, b) => ({ ...a, [b[0]]: b[1] }), {});
      }
      function getWxInfo() {
        const { code } = deSearch();
        $.ajax({
          url: '/order/wx/pay/transactions/jsapi',
          data: {
            code,
            params: JSON.stringify({
              description: '测试商品100元',
              total: 100,
            })
          },
        }).then(res => {
          if (res.code === 0) {
            prepay_id = res.data.prepay_id;
          }
        })
      }

      function pay() {
        console.log(prepay_id, 'pa')
        $.ajax({
          url: '/order/wx/pay/sign',
          data: {
            prepay_id,
          }
        }).then(res => {
          if (res.code === 0) {
            console.log(res);
               WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                  "appId":res.data.appid,     //公众号名称，由商户传入
                  "timeStamp":res.data.timestamp,         //时间戳，自1970年以来的秒数
                  "nonceStr":res.data.noncestr, //随机串
                  "package":`prepay_id=${prepay_id}`,
                  "signType":res.data.signType,         //微信签名方式：
                  "paySign":res.data.finalsign //微信签名
                },
                function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                  // alert(res.err_msg)
                // 使用以上方式判断前端返回,微信团队郑重提示：
                      //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                }
              });
          }
        })
      }
    </script>
  </body>
</html>
