<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>发票申请-云量检测</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/weui/weui@2.4.4/dist/style/weui.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
    <style media="screen">
      html, body {
        height: 100%;
        width: 100%;
      }
      .tiannfu_form {
        padding: 5vw;
      }
      b.red, .require {
        color: red;
      }
      b.green{
        color: #4d8d56;
      }
      b.blue {
        color: #14417e
      }
      .tiannfu_form > h2 {
        font-size: 5vw;
        line-height: 2;
        text-align: left;
      }
      .tiannfu_form > h4 {
        font-size: 4vw;
        line-height: 2;
        text-align: left;
        color: red;
      }
      .tiannfu_form > h2 > p {
        font-size: 4vw;
        font-weight: normal;
        text-shadow: 0 0 0px #d9d9d9;
      }
      .detail {
        padding: 0 5vw;
        font-size: 4vw;
        text-align: justify;
      }
      .detail em {
        font-style: normal;
        font-weight: bold;
      }
      .agree-info {
        text-align: center;
        padding: 10vw;
      }
      .showAgreeDialog {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="weui-form__control-area">
        <div class="weui-cells weui-cells_form">
          <div class="weui-cell weui-cell_active weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
              <label class="weui-label">发票类型</label>
            </div>
            <div class="weui-cell__bd">
              <select class="weui-select type">
                <option value=0>个人</option>
                <option value=1>企业</option>
              </select>
            </div>
          </div>
          <div class="weui-cell weui-cell_active">
            <div class="weui-cell__hd">
              <label class="weui-label">纳税人</label>
            </div>
            <div class="weui-cell__bd weui-flex">
              <input class="weui-input name" />
            </div>
          </div>
          <div class="weui-cell weui-cell_active">
            <div class="weui-cell__hd">
              <label class="weui-label head">发票抬头</label>
            </div>
            <div class="weui-cell__bd weui-flex">
              <input class="weui-input name" />
            </div>
          </div>
          <div class="weui-cell weui-cell_active">
            <div class="weui-cell__hd">
              <label class="weui-label email">电子邮箱</label>
            </div>
            <div class="weui-cell__bd weui-flex">
              <input class="weui-input name" />
            </div>
          </div>
        </div>
      </div>
      <div class="weui-form__opr-area">
        <button onclick="createTicket()" class="weui-btn weui-btn_primary">确认申请</button>
      </div>
    </div>
  </body>
  <script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
  <script>
    function createTicket() {
      const loading = weui.loading('申请发票中');
      const type = $('.type').val();
      const head = $('.head').val();
      const name = $('.name').val();
      const email = $('.email').val();
      alert(`${type}-${head}-${name}-${email}`)
      return;
      $.post('/order/ticket/create', {
        orderId: '<%= orderId %>',
        type,
        head,
        name,
        email,
      }, function(res) {
        loading.hide();
        weui.toast('完成')
        setTimeout(() => {
          window.history.go(-1);
        }, 1500);
      })
    }
  </script>
</html>
