<!DOCTYPE html>
<html>
  <head>
    <title>云量科技</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <script src="https://cdn.bootcss.com/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/weui/weui@2.4.4/dist/style/weui.min.css">
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/payment.css">
    <style>
      .success {
        padding-top: 10vw;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 10vw;
        font-size: 3.5vw;
        color: #888;
        text-align: left;
      }
      .success .weui-btn {
        margin-top: 10vw;
      }
      .success h3 {
        text-align: center;
        font-size: 7vw;
        color: #57bd6a;
        margin-bottom: 4vw;
      }
      .success h5 {
        margin-top: 6vw;
        margin-bottom: 3vw;
        font-weight: 800;
        font-size: 4vw;
        color: #57bd6a;
      }
      .success img, .success video {
        width: 100%;
        display: block;
      }
      .success .icon-box__desc {
        color: #888;
      }
    </style>
  </head>
  <body>
    <div class="success">
      <h3 class="icon-box__title">抗原检测使用指南</h3>
      <img src="/images/12.jpg" />
      <img src="/images/13.jpg" />
      <h5>检测操作视频</h5>
      <video controls>
        <source src="/images/1670153297665745.mp4" />
      </video>
    </div>
    
  </body>
</html>
